In [8]:
sale_amount = [10,50,70,90,120,150,200]

small_sale = []
medium_sale = []
large_sale = []


for sale in sale_amount:
    if sale < 10:
        small_sale.append(sale)
    elif sale < 50:
        medium_sale.append(sale)
    else:
        large_sale.append(sale)
        
print("small sale:" ,small_sale)
print("medium sale:" ,medium_sale)
print("large sale" , large_sale)

small sale: []
medium sale: [10]
large sale [50, 70, 90, 120, 150, 200]

In [14]:
flavour_rice = ['shushi', 'rice cake', 'rice', 'rice balls']

i = 0

for rice in flavour_rice:
    print(i,rice)
    i += 1

0 shushi
1 rice cake
2 rice
3 rice balls

In [21]:
customer_dictonaries = {'Name': 'John', 'Amount spend': 76, 'Item Purchased': ['shovel','dirt','pot']}

for item in customer_dictonaries:
    print(item)

Name
Amount spend
Item Purchased

In [26]:
for key, value in customer_dictonaries.items():
    print(key,',', value)

Name , John
Amount spend , 76
Item Purchased , ['shovel', 'dirt', 'pot']

In [27]:
iphones = ['i12','i13','i14','i15']
cases = ['black', 'white', 'yellow']

for iphone in iphones:
    for case in cases:
        print(iphone , 'go with case', case)

i12 go with case black
i12 go with case white
i12 go with case yellow
i13 go with case black
i13 go with case white
i13 go with case yellow
i14 go with case black
i14 go with case white
i14 go with case yellow
i15 go with case black
i15 go with case white
i15 go with case yellow

In [32]:
my_friends = ['Tim', 'Her', 'Smith', 'Owen']

i = 0

while my_friends[i] != 'Her':
    print(my_friends[i])
    i += 1

Tim

In [3]:
def first_function():
    print('We did it!')

In [4]:
first_function()

We did it!

In [8]:
def second_function(name):
    print(name, 'did it!')

In [9]:
second_function('Alex')

Alex did it!

In [ ]:
print()

In [10]:
def test_func(name):
    """ This is a docstring
    """
    print(name)

In [11]:
test_func('A;ex')

A;ex

In [16]:
args_tuple = (2,3,5,1,2,5)

def args_func(*number):
    print(number[0]*number[1])
    
args_func(2,3,5,1,2,5)

6

In [21]:
tuple_1 = ('John', "Smith", "Jack")

def number_arg(*words):
    print("Hello", words[2], " - Nice To Meet You!")

In [22]:
number_arg(*tuple_1)

Hello Jack  - Nice To Meet You!

In [26]:
def wild_function(one, *two, **three):
    print(one)
    
    print(two[0], two[2])
    
    print(three.items())

In [28]:
my_dict2 = {'One': 'Jonny', 'Two': 'Enbezer', 'Three' : 'Kayne'}

wild_function(23, *['Welp', 24, 'Howdy!'], **my_dict2)

23
Welp Howdy!
dict_items([('One', 'Jonny'), ('Two', 'Enbezer'), ('Three', 'Kayne')])

In [38]:
exit

In [29]:
lambda x: x * 2

In [30]:
(lambda x: x * 2) (5)

10

In [32]:
def real_func(x):
    print(x*2)
    
real_func(5)

10

In [2]:
def return_example():
    return 100

In [3]:
return_example()

100

In [4]:
return_example() + 100 #return store the integer

200

In [6]:
def print_example():
    print(100)

In [7]:
print_example()

100

In [9]:
print_example() + 100

100

TypeError: unsupported operand type(s) for +: 'NoneType' and 'int'

In [16]:
def happy_birthday(Name):
    return 'Happy Birthday ' + Name + '!!'

In [17]:
happy_birthday('Jonny')

'Happy Birthday Jonny!!'

In [18]:
message = happy_birthday('Jonny')

In [19]:
message

'Happy Birthday Jonny!!'

In [1]:
x = 10
y = 20

try:
    print(z)
except:
    print('There was an error')

There was an error

In [ ]:
import os

try 
    with open (r'C:\Users\chulu\OneDrive\Desktop\Data\world_population.csv') as open_file:
        append_to_main = open_file.read()
        print('Variable Created')
except Exception as e:
    print(e)
else:
        with open (path,'a') as open_file:
        append_file.write(append_to_main) 
finally:
    with open(path,'r') as open_file:
        print(open_file.read())

In [ ]:
from bs4 import BeautifulSoup 
import requests

url =''
page = requests.get(url)
soup = BeautifulSoup(page.text, 'html')

all_phone_prices = soup.find_all('h4','pull-right price')

all_phone_titles = soup.find_all('a','title')

all_prices = [ prices.text for prices in all_phone_prices]
print(all_prices)

all_titles = [ titles.text for prices in all_phone_titles]
print(all_titles)

import pandas as pd

pd.DataFrame(all_prices, all_titles, columns = ['Prices'])

In [2]:
import re

string = "It's a BEAUTIFUL day in the city. It's 75 degrees and sunny!"

re.search(r"(\b[A-Z]+\b).*()",string)

In [5]:
import re

quote = "It's a BEAUTIFUL day in the city. It's 75 degrees and sunny!"

re.findall(r"\b[a-z]+\b", quote)

['s', 'a', 'day', 'in', 'the', 'city', 's', 'degrees', 'and', 'sunny']